<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <title>信息采集系统</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    </head>
    <body id="page-top">
        <section class="cta">
            <div class="cta-content">
                <div class="container">
                    <h2>信息采集系统</h2>
                    <a href="/collection/" class="btn btn-outline btn-xl page-scroll">采集页面</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="/admin/" class="btn btn-outline btn-xl page-scroll">后台页面</a>
                </div>
            </div>
            <div class="overlay"></div>
        </section>

        <footer>
            <div class="container">
                <p>&copy; hff. All Rights Reserved.</p>
            </div>
        </footer>
    </body>
</html>
